.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 12px;
}

.container {
  display: flex;
  flex-direction: column;
}

.isActiveShortCard {
  background-color: #ff003d26;
}

.icon {
  color: #e9033a;
}
