.container {
    position: fixed;
    background-color: var(--g-color-base-background);
    z-index: 10;
    display: flex;
}

.container svg {
    color: var(--g-color-text-secondary);
}

.divider {
    align-self: stretch;
    width: 1px;
    background-color: var(--g-color-line-generic);
}