.templateCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  min-height: 180px;
  gap: 24px;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.templateCard_active {
  border: 1px solid var(--g-color-line-brand);
}

.templateCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  width: 100%;
}

.templateHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  width: 100%;
}
