.replyInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.avatarButtonComment {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendComment {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeButton {
  opacity: 1;
  cursor: pointer;
}

.disabledButton {
  color: #bdbdbd;
  opacity: 0.5;
  pointer-events: none;
}
